.container__big-card{
  /* border: solid white 2px; */
  width: 300px;
  height: 350px;
  display: column;
  align-items: flex-start;
  margin-left: 20px;
  margin-right: 20px;
}

.big-card__title > h1{
  margin-top: 10px;
  font-size: 20px;
}

.big-card__description{
margin-top: 10px;
}

.big-card__description > p > a{
  margin-top: 5px;
  color: grey;
}
